body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d8ead2;
    font-family: 'Lato', sans-serif;
}

#intro {
    width: 70%;
    max-width: 690px;
}

h1,h2, p { 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#subscribeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Space between form elements */
    width: 50%; /* Adjust as needed for responsiveness */
    max-width: 400px; /* Maximum width for form */
    margin: auto; /* Center the form horizontally */
    padding: 20px;
    background-color: #c1f2fb; /* Optional: for visual separation */
    border-radius: 8px;
}

#subscribeForm label {
    font-weight: bold;
}

#subscribeForm input[type="name"],
#subscribeForm input[type="email"],
#subscribeForm button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#subscribeForm button {
    background-color: #007BFF; /* Example color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
}

#subscribeForm button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#videos {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center the items horizontally */
    gap: 10px; /* Add some space between the flex items */
    padding: 20px; /* Some padding for better visual appearance */
}

#videos .twitter-tweet {
    flex: 1 0 300px; /* Flex grow, shrink, basis */
    max-width: 80%; /* Ensure they don't exceed their container's width */
    height: auto; /* Let the height adjust based on content */
}

/* Media query for screens smaller than 768px (typical mobile breakpoint) */
@media screen and (max-width: 768px) {
    #videos .twitter-tweet {
        flex-basis: 80%; /* Make each tweet take full width of container */
    }
}